./venv
/.venv
/venv
/app/__pycache__
__pycache__/
*.pyc
access.jsonl
ai_requests.jsonl

#Environment Variables
.env
.env.local
.DS_Store

#Dependencies
node_modules/
npm-debug.log

ai_models/data/
ae_model.keras
ai_model.joblib
request_classifier.pkl
retrain_state.json